.admin-contactRequests-container h1 {
  font-size: 2.5vw;
  color: var(--accent);
  opacity: 0.8;
  padding: 0.5vw 2vw;
}
.client-queries-admin-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-queries-admin-header button{
  margin: 0px 2vw;
  height:3vw;
  width:3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  border:0.1vw solid rgba(0,0,0,0.3);
  background:var(--secondary-five);
  font-size: 1.5vw;
  cursor: pointer;
}
.client-queries-admin-header button:hover{
  scale:1.01
}
.contactRequests-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  row-gap: 0.2vw;
}
.contactrequest-card-container {
  width: 100%;
  padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
  background: rgba(92, 171, 125, 0.8);
}
.contactrequest-card-left h2 {
  font-size: 1.9vw;
  color: var(--secondary-one);
}
.contactrequest-card-left p {
  font-size: 0.9vw;
  opacity: 0.6;
}
.contactrequest-card-left-main p {
  font-size: 1.1vw !important;
  opacity: 1 !important;
}
.contactrequest-card-left-main p span {
  font-weight: bold !important;
}
.button-contactrequest {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  outline: none;
  border: none;

  font-weight: bold;
  cursor: pointer;
  opacity: 0.6;
}
.cross-contactrequest {
  background: var(--alert);
  color: var(--tertiary);
}
.edit-contactrequest {
  background: var(--tertiary-highlight);
  color: var(--accent);
}
.buttons-admin-contactrequests {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;
}
.button-contactrequest:hover {
  scale: 1.03;
  opacity: 1;
}
.buttons-admin-contactRequests{
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
}